@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

:root {
  --color-gradient: linear-gradient(
    270deg,
    rgba(46, 94, 74, 1) 0%,
    rgba(31, 166, 196, 1) 100%
  );
  --color-gradient-inverted: linear-gradient(
    270deg,
    rgba(46, 94, 74, 1) 0%,
    rgba(31, 166, 196, 1) 100%
  );
}

.bg-gradient {
  background-image: var(--color-gradient);
}
.bg-gradient:hover {
  background-image: var(--color-gradient-inverted);
}
